.branch-pd {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
}
.branch-list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-item i {
    display: block;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 5px;
}
.list-item span {
    display: block;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: white;
}
.list-item p{
    display: block;
    font-weight: 100;
    font-size: 20px;
    line-height: 20px;
}
