footer{
    background: #212529;
    border-top: 4px solid #212529;
    font-size: 0.9em;
    margin-top: 50px;
}
.list-pd {
    padding-bottom: 10px;
}
.list-line {
    line-height: 20px;
}
.item-align-left {
    align-items: left;
}
.footer-container {
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}
footer .logo {
    position: relative;
    top: 2px;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0);
    height: 80px;
}

.footer-icons-custom > i{
    border: 0.2px solid grey;
    border-radius: 20px;
}