.darkLayer {
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.navBar span{
    margin: 2px;
    padding: 2px 0;
    width: 25px;
}