:root {
    --primary: #96000C;
    --light: #fff;
    --dark-grey: #544b40;
}
.light{
    color: var(--light)
}
.dark-grey{
    color: var(--dark-grey);
}
.primary{
    color: #96000C;
}
.mt-3 {
    margin-top: 1rem;
}
.p-3 {
    padding: 1rem;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    color: #777;
    line-height: 26px;
    margin: 0 0 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.custom-cloud {
    position: absolute;
    top: 50%;
    width: auto;
    height: 80%;
    transform: translateY(-50%);
}
.custom-cloud.right-pos {
    right: 0;
}
.container {
    margin: 0 auto;
}
.d-flex {
    display: flex;
}

.polygon {
    position:absolute;
    top:224.531px;
    width: 312px;
    height: 312px;
    background-image:url(../../public/assets/prayer.png);
    transform: translateY(-50%) rotate(45deg);
    background-color: initial;
    border: 10px solid white;
    box-shadow: 0px 0px 60px -10px rgba(139, 139, 139, 0.5);
}
.polygon-sm {
    position: absolute;
    width: 192px;
    height: 192px;
    top: 50%;
    border: 10px solid #FFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 0px 0px 60px -10px rgba(139, 139, 139, 0.5);
}
.polygon-sm.left-pos {
    background-image: url(../../public/assets/law.jpg);
    left: 3vw;
    top: 45%;
}
.polygon-sm.right-pos {
    background-image: url(../../public/assets/prayer3.jpg);
    right: 3vw;
    top: 66%;
}
.polygon.right-pos {
    right: -150px;
}
.polygon.left-pos {
    left: -150px;
}
.section-no-border {
    display: block;
    background-color: #fff;
    padding: 70px 0 160px;
}
img {
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.txt-center {
    text-align: center;
}
.justify-content-center {
    justify-content: center;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}